<% layout('layout/boilerplate.ejs') %>

<h2>Edit Transaction</h2>

<form action="/transactions/<%= transaction._id %>?_method=patch" method="post" class="needs-validation" novalidate>
    <label for="name" class="form-label">Transaction Name</label>
    <input type="text" class="form-control" name="name" placeholder="Transaction Name" value="<%= transaction.name %>" required>

    <label for="type" class="form-label">Transaction Type</label>
    <div class="form-control">
        <input type="radio" name="type" value="income"
            <%= transaction.type === 'income' ? 'checked' : '' %> required> Income
        <input type="radio" name="type" value="expense"
            <%= transaction.type === 'expense' ? 'checked' : '' %>> Expense
    </div>


    <label for="amount" class="form-label">Amount</label>
    <input type="number" class="form-control" name="amount" id="amount" placeholder="Amount In $" value="<%= transaction.amount %>" required>

    <label for="currency" class="form-label">Currency</label>
    <input type="text" class="form-control" name="currency" id="currency" placeholder="Currency" value="<%= transaction.currency %>" required>

    <label for="date" class="form-label">Date</label>
    <input type="date" class="form-control" name="date" id="date" value="<%= transaction.date %>" required>

    <label class="form-label">Category</label>
    <select name="category" class="form-select mb-3" required>
        <option value="" disabled>Select a category</option>

        <option value="rent"
        <%= transaction.category === 'rent' ? 'selected' : '' %>>
        Rent
        </option>

        <option value="food"
        <%= transaction.category === 'food' ? 'selected' : '' %>>
        Food
        </option>

        <option value="shopping"
        <%= transaction.category === 'shopping' ? 'selected' : '' %>>
        Shopping
        </option>

        <option value="salary"
        <%= transaction.category === 'salary' ? 'selected' : '' %>>
        Salary
        </option>

        <option value="goal-savings"
        <%= transaction.category === 'goal-savings' ? 'selected' : '' %>>
        Goal Savings 💰
        </option>
    </select>

    <label for="description" class="form-label">Description</label>
    <textarea name="description" id="description" class="form-control" placeholder="Description"><%= transaction.description %></textarea>

    <button class="btn btn-primary m-2" type="submit">Enter</button>
</form>