<% layout('layout/boilerplate.ejs') %>

<% if(transactions.length === 0){ %>
    <div>No Transactions Added</div>
    <a href="/transactions/new" class="btn btn-secondary">Add A New One</a>
<% }else{ %>
    <h3>All Transactions</h3>
    <% for(let transaction of transactions){ %>
        <div>
            <a href="/transactions/<%= transaction._id %>"><h3>Transaction Name : <%= transaction.name %></h3></a>
            <ul>
                    <li><b>Transaction Type : </b><%= transaction.type %></li>
                    <li><b>Category : </b><%= transaction.category %></li>
                    <li><b>Amount : </b><%= transaction.amount %></li>
                    <li><b>Description : </b><%= transaction.description %></li>
                    <li><b>Input Method : </b><%= transaction.inputMethod %></li>
                    <li><b>Recurring : </b><%= transaction.recurring %></li>
                    <li><b>Recurrence : </b><%= transaction.recurrence %></li>
            </ul>
        </div>
    <% } %>
<% } %>    