<% layout('layout/boilerplate.ejs') %>

<% for(let transaction of transactions){ %>
    <div>
        <h3>Transaction Name : <%= transaction.name %></h3>
        <ul>
                <li><%= transaction.type %></li>
                <li><%= transaction.category %></li>
                <li><%= transaction.amount %></li>
                <li><%= transaction.description %></li>
        </ul>
    </div>
<% } %>