<% layout('layout/boilerplate') %>

<h1><%= transaction.name %></h1>

<ul>
    <li><b>Transaction Type : </b><%= transaction.type %></li>
    <li><b>Category : </b><%= transaction.category %></li>
    <li><b>Amount : </b><%= transaction.amount %></li>
    <li><b>Date : </b><%= transaction.date %></li>
    <li><b>Description : </b><%= transaction.description %></li>
    <li><b>Recurrence : </b><%= transaction.recurrence %></li>
    <li><b>Currency : </b><%= transaction.currency %></li>
    <li><b>Converted Amount : </b><%= transaction.convertedAmount %></li>
    <li><b>Input Method : </b><%= transaction.inputMethod %></li>
    <li><b>Recurring : </b><%= transaction.recurring %></li>
</ul>


<form action="/transactions/<%= transaction._id %>?_method=DELETE" method="post">
    <form action="/transactions/<%= transaction._id %>?_method=DELETE" method="post">
        <input type="hidden" name="_csrf" value="<%= locals.csrfToken || '' %>">
        <button class="btn btn-danger m-2">Delete Transaction</button>
    </form>
    <button class="btn btn-danger m-2">Delete Transaction</button>
</form>

<a href="/transactions/<%= transaction._id %>/edit" class="btn btn-warning m-2">Edit Transaction</a>